html{
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

header h1 {
	padding: 1em 0;
	border-bottom: 3px solid #77a466;
}

header h1 span {
	color: #77a466;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	text-align: center;
	margin-top: 2em;
	padding: 0 10px;
	display: flex;
	flex-flow: column wrap;	
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.main-image {
	height: auto;
	padding: 1rem;
	
}
.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	
}
.main-title h3 {
	text-align: center;
	padding: 5px 0;
	margin: 0;
	color: #77a466;
}
.main-title p {
	padding: 1em;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
}

.section-one{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
<<<<<<< HEAD
}

.section-two{
	border-bottom: 1px solid #eee;
}

=======
}

.section-two{
	border-bottom: 1px solid #eee;
}

>>>>>>> desktop-version
.section-one h4 {
	padding: 10px 30px;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 30px;
	color: #77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	border-top: 1px solid #eee;
	margin: 0 auto;	
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/* Properties for mediatypes */

/* Tablet-portrait properties */
@media(min-width: 768px){
	.main-title h3{
		text-align: left;
		padding-left: 1em;
	}

	.bottom-section{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row nowrap;
		border-top: 1px solid #eee;
	}

	.section-one{
		border-top: none;
		border-bottom: none;
	}

	.section-two{
		border-bottom: none;
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
	}

	footer{
		width: 100%;
	}

<<<<<<< HEAD
	/* Tablet-landscape properties */
	@media(min-width: 1000px){
		header{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
		}

		header h1{
			border-bottom: none;
		}

		header nav ul li{
			display: flex;
			flex-flow: row wrap;
		}
	}
=======
		/* Tablet-landscape properties */
		@media(min-width: 1000px){
			header{
				width: 100%;
				padding: 0%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: row;
			}
	
			header h1{
				border-bottom: none;
				padding: 0.5em 1em 0;
			}
	
			header nav ul{
				padding: 0;
				margin-right: 0.5em;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: row nowrap;
			}
		}
>>>>>>> desktop-version
